*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #f6f9f9;
	font-family: 'Lato', sans-serif;
}


.container{
	width: 1140px;
	margin: 0px auto;
}

/* header part start*/

header{
	width: 100%;
	float: left;
}

.logo{
	padding: 28px 0px;
	float: left;
}

/* header part end*/

/* banner part start*/

.banner{
	width: 100%;
	float: left;
	padding: 80px 0px;
	background: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-main{
	width: 60%;
	margin: 0px auto;
	padding-top: 100px;
	text-align: center;
}

.banner-main h2{
	font-size: 120px;
	color: #fff;
}

.banner-main span{
	border-bottom: 2px solid #15a4fa;
	display: block;
	margin: 30px auto;
	width: 90%;
}

.banner-main p{
	font-size: 20px;
	color: #fff;
	margin-bottom: 55px;
}

.btn{
	background: transparent;
	font-size: 18px;
	color: #fff;
	padding: 10px 27px;
	border: 1px solid #15a4fa;

}

.fa.fa-chevron-down{
	display: block;
	margin: 0px auto;
	margin-top: 150px;
	color: white;

}

/* banner part end*/

/* design part start*/

.design{
	width: 100%;
	float: left;
	padding: 70px 0px;
}

.design h2{
	text-align: center;
	color: #2d3950;
	font-size: 40px;
	margin-bottom: 25px;
}

.design p{
	text-align: center;
	color: #999999;
	font-size: 20px;
}

/* design part end*/

/* feature part start*/

.feature{
	width: 100%;
	float: left;
	padding: 60px 0px;
	background: #ffffff;
}

.feature-one{
	width: 30%;
	float: left;
	margin: 0px 5px;
	text-align: center;
}

.feature-one img{
	padding: 15px 20px;
	color: white;
	margin: 0px auto;
	background-color: #48baff; 
}

.feature-one h2{
	font-size: 22px;
	color: #2d3950;
	margin-top: 30px;
}

.feature-one p{
	text-align: center;
	margin-top: 25px;
}


.feature-two{
	width: 30%;
	float: left;
	margin: 0px 45px;
	text-align: center;
}

.feature-two img{
	padding: 20px 18px;
	color: white;
	margin: 0px auto;
	background-color: #48baff;
}

.feature-two h2{
	font-size: 22px;
	color: #2d3950;
	margin-top: 30px;
}

.feature-two p{
	text-align: center;
	margin-top: 25px;
}

.feature-three{
	width: 30%;
	float: left;
	margin: 0px 5px;
	text-align: center;
}

.feature-three img{
	padding: 25px 18px;
	color: white;
	margin: 0px auto;
	background-color: #48baff;
}

.feature-three h2{
	font-size: 22px;
	color: #2d3950;
	margin-top: 30px;
}

.feature-three p{
	text-align: center;
	margin-top: 25px;
}

/* feature part end*/

/* portfolio part start*/

.portfolio{
	width: 100%;
	float: left;
	padding: 70px 0px;
}

.portfolio-title{
	width: 60%;
	margin: 0px auto;
}

.portfolio-title h2{
	text-align: center;
	font-size: 41px;;
	color: #2d3950;
	margin-bottom: 20px;
}

.portfolio-title p{
	text-align: center;
	font-size: 15px;
	color: #b6b7b7;
	margin-bottom: 75px;
}

.portfolio-one{
	width: 29%;
	float: left;
	margin: 0px 25px;
}

.portfolio-one img{
	padding: 8px 0px;
}

.portfolio-two{
	width: 29%;
	float: left;
	margin: 0px 25px;
}

.portfolio-two img{
	padding: 8px 0px;
}


.portfolio-three{
	width: 29%;
	float: left;
	margin: 0px 20px;
}

.portfolio-three img{
	padding: 8px 0px;
}




/* portfolio part end*/

/* contact part start*/

.contact{
	width: 100%;
	float: left;
	background: url(../img/bg.png);
	padding: 60px 0px;
}

.overlay{
 
}

.contact-form{
	width: 550px;
	margin: 0px auto;
}

.contact-form h2{
	text-align: center;
	color: #fff;
	font-size: 41px;
	margin-bottom: 15px;
}

.contact-form p{
	text-align: center;
	color: #fff;
	font-size: 15px;
	margin-bottom: 15px;
}

.form-control{
	width: 100%;
	height: 50px;
	margin: 5px 0px;
	padding: 0px 10px;
	background: transparent;
	border: 1px solid #999999;
}

.text-area{
	width: 100%;
	height: 150px;
	padding: 10px 10px;
	margin-top: 5px;
	background: transparent;
}

.form-bottom{
	width: 100%;
}

.bottom-left{
	width: 70%;
	float: left;
	margin: 5px 0px;
}

label{
	color: #fff;
	font-size: 15px;
	margin: 10px 0px;
}

.bottom-right{
	background: transparent;
	width: 20%;
	float: left;
	margin: 5px 25px;
	padding: 5px 0px;
	font-size: 15px;
	text-align: center;
	border: 1px solid #15a4fa;
}

/* contact part end*/

/* footer part start*/

footer{
	width: 100%;
	float: left;
}

.footer-left{
	width: 70%;
	float: left;
}

.footer-left h4{
	font-size: 15px;
	color: #999999;
	padding: 40px 0px;
	margin: 0px 30px;
}

.footer-right{
	width: 30%;
	float: left;
	padding: 15px 0px;
}

.footer-right ul{
	list-style: none;
	padding: 15px 0px;
	margin: 0px 60px;
}

.footer-right ul li{
	display: inline-block;
	background: #15a4fa;
	padding: 8px 8px;
	color: white;

}

/* footer part end*/